* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

/*底部栏*/
.footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    height: 1.306667rem;
    width: 100%;
    border-top: 1px solid gray;
    font-size: 0.32rem;
    background: white;
}

.hairlines .footer {
    border-top: .5px solid gray;
}

.footer ul {
    width: 100%;
    height: 100%;
}

.footer ul li {
    float: left;
    width: 33.333%;
    height: 100%;
    text-align: center;
}

.footer ul li>div {
    height: 0.773333rem;
    line-height: 0.773333rem;

}

.footer img {
    height: 0.586667rem;
    width: 0.586667rem;
    vertical-align: middle;
}

.footer span {
    display: inline-block;
}

.footer-middle {
    position: relative;
}

.footer-middle>div {
    position: absolute;
    top: -0.4rem;
    left: 50%;
    margin-left: -0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background: white;
    border-radius: 100%;
}

.footer-middle img {
    height: 100%;
    width: 100%;
}



/*二维码*/
.scane-wrapper {
    touch-action: none;
    position: absolute;
    top: 0;
    bottom: 1.333333rem;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 15% 0.533333rem;
    background: #dcdcdc;
    text-align: center;
}

.scane-container {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.666667rem;
    text-align: center;
}

.scane-container .scane-top {
    position: relative;
    height: 2.0rem;
    width: 100%;
    background: #fad70a;
    border-top-left-radius: 0.666667rem;
    border-top-right-radius: 0.666667rem;

}

.scane-header-icon {
    position: absolute;
    top: -0.8rem;
    left: 50%;
    z-index: 20;
    margin-left: -0.8rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
}

.scane-delete-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    margin:auto;
    border: 0.133333rem solid red;
    border-radius: 100%;
}

.scane-delete-icon:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0.106667rem;
    height: 80%;
    margin-top: 10%;
    margin-left: -0.053333rem;
    background-color: red;
    transform: rotate(-45deg);
}

.scane-delete-icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 80%;
    height: 0.106667rem;
    margin-left: 10%;
    margin-top: -0.053333rem;
    background-color: red;
    transform: rotate(-45deg);
}



.scane-container .scane-middle {
    width: 100%;
    height: 4.666667rem;
    text-align: center;
}

.scane-middle-No {
    display: block;
    margin: 0.266667rem auto;
}
.scane-middle-No .serial_number {
    font-style: normal;
}
.scane-middle-strip-type {
    display: block;
    height: 2.506667rem;
    margin: 0.266667rem auto;
}

.scane-middle-two-yards {
    display: block;
    height: 4.026667rem;
    margin: 0.266667rem auto;
}

.scane-wrapper .scane-bottom {
    display: inline-block;;
    vertical-align: middle;
    color: red;
    font-size: 0.32rem;
    margin-top: 0.4rem;
}