* {
    box-sizing: border-box;
}
body {
    background: #eee;
    overflow: hidden;
}

#glob_wrapper_iscroll {
    width: 100%;
    /*height: 16.466667rem;*/
    height: 13.066667rem;
    font-size: 20px;
}

/*头部轮播*/
.swiper-container-header {
    position: relative;
    width: 100%;
    height: 5.626667rem;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    height: 1px;
    border-radius: 0;
    margin: 0 2px !important;
}

/*导航轮播*/
.swiper-container-nav {
    margin: 0.266667rem 0;
    width: 100%;
    height: 4.88rem;
    font-size: 14px;
    background: white;
    overflow: hidden;
}

.swiper-slide-item {
    float: left;
    width: 25%;
    height: 50%;
    text-align: center;
}

.swiper-slide-item img {
    height: 1.066667rem;
    width: 1.066667rem;
    margin-top: 0.133333rem;
}

.swiper-slide-item span {
    display: block;
    height: 0.886667rem;
    line-height: 0.886667rem;
}

/*福利多多*/
.welfare_title {
    background: white;
    padding: 0.4rem 0.266667rem;
    font-size: 16px;
    color: #f21a7b;
}

.welfare_wrapper_content {
    padding: 0.133333rem 0.266667rem;
    background: white;
    margin-bottom: 0.266667rem;
    overflow: hidden;
}

.welfare_item {
    position: relative;
    width: 100%;
    height: 2.8rem;
    border: 1px solid #ebebeb;
}

.hairlines .welfare_item {
    border: .5px solid #ebebeb;
}

.cro_left_top,
.cro_right_top,
.cro_left_bottom,
.cro_right_bottom {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    z-index: 1;
    background: #fff;
}


.cro_left_top {
    top: -1px;
    left: -1px;
    border-radius: 0px 0px 10px 0px;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.hairlines .cro_left_top {
    border-bottom: .5px solid #ebebeb;
    border-right: .5px solid #ebebeb;
}

.cro_right_top {
    top: -1px;
    right: -1px;
    border-radius: 0px 0px 0px 10px;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
.hairlines .cro_right_top {
    border-bottom: .5px solid #ebebeb;
    border-left: .5px solid #ebebeb;
}
.cro_left_bottom {
    left: -1px;
    bottom: -1px;
    border-radius: 0px 10px 0px 0px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.hairlines .cro_left_bottom {
    border-top: .5px solid #ebebeb;
    border-right: .5px solid #ebebeb;
}
.cro_right_bottom {
    right: -1px;
    bottom: -1px;
    border-radius: 10px 0px 0px 0px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
.hairlines .cro_right_bottom {
    border-top: .5px solid #ebebeb;
    border-left: .5px solid #ebebeb;
}


.welfare_item_left {
    position: relative;
    float: left;
    width: 3.226667rem;
    height: 100%;
    line-height: 2.773333rem;
    text-align: center;
    padding: 0 0.38rem;
}

.welfare_item_left_icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.666667rem;
    height: 0.533333rem;
    line-height: 0.533333rem;
    background: #f21a7b;
    border-bottom-left-radius: 100%;
    font-size: 12px;
    text-align: center;
    color: white;
}

.welfare_item_left_icon i {
    display: block;
    font-style: normal;
    transform: scale(.8);
}

.welfare_item_left_font {
	display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
     vertical-align: middle;/*基线居中对齐*/
}

.welfare_item_right {
    float: left;
    width: 6.213333rem;
    height: 100%;
    background: #f8f8f8;
    border-left: 1px solid #ebebeb;
    padding: 0.266667rem;
    padding-right: 0.266667rem;
}
.welfare_item_right_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0.133333rem;
}
.welfare_item_right_top {
	font-size: 12px;
	color: #6c6c6c;
	margin-bottom: 0.133333rem;
}
.welfare_item_right_middle {
	display: inline-block;
	font-size: 12px;
	color: white;;
	background: #dfc3ad;
	padding: 0.066667rem;
	margin-top: -5px;
	margin-bottom: 0.133333rem;
	margin-left: -0.426667rem;
	vertical-align: middle;
	transform: scale(.8);
}
.welfare_item_right_bottom {
	padding-right: 0.4rem;

}
.welfare_item_right_bottom .nowPrice {
	color: #ff1c78;
	font-size: 14px;
}
.welfare_item_right_bottom .oldPrice {
	color: #cdcdcd;
	font-size: 12px;
	text-decoration: line-through;
}
.welfare_item_right_bottom .buy {
	float: right;
	width: 1.706667rem;
	height: 0.64rem;
	line-height: 0.64rem;
	color: white;
	font-size: 0.426667rem;
	background: #f21a7b;
	border-radius: 24px;
	text-align: center;

}

 
/*底部栏*/
.footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    height: 1.306667rem;
    width: 100%;
    border-top: 1px solid gray;
    font-size: 0.32rem;
    background: white;
}

.hairlines .footer {
    border-top: .5px solid gray;
}

.footer ul {
    width: 100%;
    height: 100%;
}

.footer ul li {
    float: left;
    width: 33.333%;
    height: 100%;
    text-align: center;
}

.footer ul li>div {
    height: 0.773333rem;
    line-height: 0.773333rem;

}

.footer img {
    height: 0.586667rem;
    width: 0.586667rem;
    vertical-align: middle;
}

.footer span {
    display: inline-block;
}

.footer-middle {
    position: relative;
}

.footer-middle>div {
    position: absolute;
    top: -0.4rem;
    left: 50%;
    margin-left: -0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background: white;
    border-radius: 100%;
}

.footer-middle img {
    height: 100%;
    width: 100%;
}