.gb_wrapper {
    width: 7.68rem;
    height: 7.68rem;
    margin-left: 1.146667rem;
}

.gb-wheel-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 3px #333, 0 0 2px #000;
    overflow: hidden;
}

.gb-wheel-content {
    position: absolute;
    left: 0.266667rem;
    top: 0.266667rem;
    width: 7.146667rem;
    height: 7.146667rem;
    border-radius: inherit;
    background: -webkit-radial-gradient(rgba(100, 100, 100, 0.1) 15%, transparent 16%) 0 0,
        -webkit-radial-gradient(rgba(100, 100, 100, 0.1) 15%, transparent 16%) 8px 8px,
        -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
        -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background: radial-gradient(rgba(100, 100, 100, 0.1) 15%, transparent 16%) 0 0,
        radial-gradient(rgba(100, 100, 100, 0.1) 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #ffcb3f;
    background-size: 12px 14px;
    background-clip: padding-box
}

.gb-wheel-content:before {
    content: '';
    position: absolute;
    left: -0.266667rem;
    top: -0.266667rem;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 0.266667rem solid #0074A6;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2) inset
}


.gb-wheel-line {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 99
}

.gb-wheel-litem {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 50%;
    background: rgba(228, 55, 14, 0.6);
    overflow: hidden;
    -webkit-transform-origin: 50% 3.573333rem;
    -ms-transform-origin: 50% 3.573333rem;
    transform-origin: 50% 3.573333rem;
}
.hairlines .gb-wheel-litem {
	width: .5px;
}
.gb-wheel-list {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 9999
}

.gb-wheel-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #e4370e;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6)
}

.gb-wheel-icontent {
    position: relative;
    display: block;
    padding-top: 0.4rem;
    margin: 0 auto;
    text-align: center;
    -webkit-transform-origin: 50% 3.573333rem;
    -ms-transform-origin: 50% 3.573333rem;
    transform-origin: 50% 3.573333rem;
}

.gb-wheel-itext {
    font-size: 0.32rem;
    font-weight: lighter
}

.gb-wheel-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 400;
    width: 2.133333rem;
    height: 2.133333rem;
    margin-left: -1.066667rem;
    margin-top: -1.066667rem;
    border-radius: 50%;
    color: #F4E9CC;
    background-color: #E44025;
    line-height: 2.133333rem;
    text-align: center;
    font-size: 0.533333rem;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6), 0 0 5px 4px rgba(0, 0, 0, 0.2) inset;
    text-decoration: none
}

a.gb-wheel-btn {
    border-bottom: none
}

.gb-wheel-btn:after {
    position: absolute;
    content: '';
    left: 50%;
    top: -0.266667rem;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: -0.4rem;
    background-color: #E44025;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6), 0 0 5px 4px rgba(0, 0, 0, 0.2) inset
}

.gb-wheel-btn.disabled,
.gb-wheel-btn.disabled::after {
    pointer-events: none;
    background: #B07A7B;
    color: #ccc
}


.gb-wheel-run {
    -webkit-transition: -webkit-transform 6s ease;
    transition: transform 6s ease
}