 
/*搜索页面*/ 
.active_search_page{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    /*display: none;*/
}
.active_search {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 1.333333rem;
    padding: 0.266667rem;
    background: white;
}
.as_left, .as_right {
    float: left;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    display: none;
}
.as_left i {
    font-size: 0.32rem;
    vertical-align: middle;
}
.as_right {
    float: right;
    font-size: 0.32rem;
}

.as_middle{
    width: 100%;
    height: 100%;
    padding: 0;
    transition: padding .5s;
}
.as_middle_content{
    width: 100%;
    height: 100%;
    padding: 0;
    background: #dcdcdc;
    border-radius: 0.4rem;
    overflow: hidden;
    
}
.as_middle_content_left {
    float: left;
    width: 0.8rem;
    height: 100%;
    text-align: center;
}
.as_middle_content_left svg{
    height: 0.533333rem;
    margin-top: 0.133333rem
}

.as_middle_content_right{
    width: 100%;
    height: 100%;
    line-height: 0;
    padding-left: 0.8rem;
}
.as_middle_content_right input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.266667rem;
    line-height: 0.8rem;
    outline: none;
    background: #dcdcdc;
}

.container {
    position: absolute;
    top: 1.333333rem;
    bottom: 0;
    width: 100%;
}
.history_search, .hot_search {
    padding: 0.4rem 0.266667rem 0;
    width: 100%;
    overflow: hidden;
}
.history_top, .hot_search_top {
    font-size: 0.32rem;
    font-weight: bold;
    margin-bottom: 0.266667rem;
    height: 0.8rem;
    line-height: 0.8rem;
}
.history_top_right {
    float: right;
    width: 0.8rem;
    height: 0.8rem;
    text-align: center;
}

.history_content, .hot_search_content {
    font-size: 0;
    letter-spacing: -3px;
}
.history_content span, .hot_search_content span {
    font-size: 0.32rem;
    letter-spacing: 0;
    display: inline-block;
    padding: 0.266667rem 0.4rem;
    margin-right: 0.133333rem;
    margin-bottom: 0.533333rem;
    background: #eee;
    border-radius: 0.133333rem;
}


.wrapper_scroller {
    position: absolute;
    top: 1.333333rem;
    bottom: 0;
    width: 100%;
}



/*没有找到内容*/
.no_search {
    position: absolute;
    z-index: 3;
    top: 1.333333rem;
    bottom: 0;
    text-align: center;
    line-height: 16.453333rem;
    width: 100%;
    font-size: 0.48rem;
    background: white;
}



/*搜索内容页面*/
#spScrollerWrapper {
    position: absolute;
    top: 1.333333rem;
    bottom: 0.533333rem;
    width: 100%;
    padding: 0.266667rem;
    background: white;
    display: none;
}